.manage-page{
    background-color: white;
    padding: 1rem;
}

.manage-top{
    color: #7E7E7E;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    background: none;
    border: none;
}

.manage-top>button{
    margin-right: 1.5rem;
    width: 3rem;
    height: 3rem;
}

hr{
    width: 100%;
    border-top: 1px solid #DCDCDC;
    margin-top: 0;
    margin-bottom: 0;
}

.list-container{
    height: 100%;
    color: #7E7E7E;
}

.manage-list-element{
    height: 80px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    display: flex;
}

.list-tube{
    font-size: 1.25;
    color: #D2D2D2;
}

.list-main{
    display: flex;
    align-items: center;
}

.list-main>span{
    font-size: 1.5rem;
    color: #5294C9;
}

.trash{
    width: 2rem;
    height: 2rem;
}

.edit-btn{
    background-color: #5294C9;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    right: 1rem;
}

.delete-btn{
    width: 3rem;
    height: 3rem;
}

.edit-btn:hover{
    background-color: #427dae;
}

.to-home-container{
    background-color: #57A3E0;
    width: 4.375rem;
    height: 4.375rem;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
}

.to-home-container:hover{
    background-color: #4e94cd;
}

.to-home{
    width: 3rem;
    height: 3rem;
}